{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html,
body{
  height:100%;
  width:100%;
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  color: white;
  width: 300px;
  border: 5px solid rgb(93, 94, 116);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card button {
  padding: 10px 20px;
  background-color: #ab8c8c;
  color: black;
  border: none;
  
}